.logo {
  color: rgb(242, 239, 239);
  font-size: 24px;
  text-decoration: none;
}

.span {
  font-style: italic;
  font-weight: 700;
  color: rgb(253, 149, 13);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo {
    display: block;
    font-size: 20px;
    line-height: 1.2;
  }

  .span {
    display: block;
  }
}
